@import url('https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,300..900;1,300..900&family=Instrument+Serif:ital@0;1&display=swap');

@import 'tailwindcss';
@import '@nuxt/ui';

@theme {
	--font-sans: 'Inter', sans-serif;
	--font-serif: 'Instrument Serif', serif;
}

@layer base {
	* {
		@apply border-default;
		scrollbar-width: thin;
		scrollbar-color: var(--border-color-default) transparent;
	}
	::-webkit-scrollbar {
		width: 5px;
	}
	::-webkit-scrollbar-track {
		background: transparent;
	}
	::-webkit-scrollbar-thumb {
		background: var(--border-color-default);
		border-radius: 5px;
	}
	* {
		@apply border-default;
	}
}

@utility padding {
	@apply px-5 py-6;
}

@utility dash-bar {
	@apply flex w-full bg-[repeating-linear-gradient(-45deg,var(--background-color-elevated)_0px,var(--background-color-elevated)_6px,transparent_2px,transparent_12px)] bg-repeat py-5 sm:py-6;
}
