@import 'tailwindcss';
@import '@nuxt/ui';

:root {
	--ui-header-height: 2.7rem;
}

@layer base {
	* {
		@apply border-default;
		scrollbar-width: thin;
		scrollbar-color: var(--border-color-default) transparent;
	}
	html {
		@apply no-scrollbar;
	}
	html,
	body {
		text-autospace: normal;
	}
	::-webkit-scrollbar {
		width: 5px;
	}
	::-webkit-scrollbar-track {
		background: transparent;
	}
	::-webkit-scrollbar-thumb {
		background: var(--border-color-default);
		border-radius: 5px;
	}
}

@utility corner-squircle {
	corner-shape: squircle;
}

@utility no-scrollbar {
	-ms-overflow-style: none;
	scrollbar-width: none;
	&::-webkit-scrollbar {
		display: none;
	}
}
